In [ ]:
%reload_ext autoreload
%autoreload 2

In [ ]:
import numpy as np
from functools import partial

import xclib.data.data_utils as du, scipy.sparse as sp

from sugar.statistics import *
from sugar.core import *
from xcai.data import *

## `LF-WikiSeeAlsoTitles-320K`

In [ ]:
data_dir = '/home/scai/phd/aiz218323/scratch/datasets/benchmarks/(mapped)LF-WikiSeeAlsoTitles-320K/'
save_dir = '/home/scai/phd/aiz218323/scratch/datasets/wikipedia/20250123/LF-WikiSeeAlsoTitles-320K/'

metadata_type = 'category'
indices = np.random.permutation(693082)[:10]

show_func = partial(show_updated_dataset, data_dir, save_dir, metadata_type, idxs=indices)

### `old-old-old`

In [ ]:
show_func(x_prefix='old', y_prefix='old', z_prefix='old')

/home/scai/phd/aiz218323/.local/lib/python3.9/site-packages/xclib-0.97-py3.9-linux-x86_64.egg/xclib/data/data_utils.py:263: UserWarning: Header mis-match from inferred shape!
  warnings.warn("Header mis-match from inferred shape!")

                               # Entries  # Features  \
Split Dataset
Train Main                        693082      312330
      Query Category Metadata     693082      656086
      Label Category Metadata     312330      656086
Test  Main                        177515      312330
      Query Category Metadata     177515      656086
      Label Category Metadata     312330      656086

                               Avg. Entries per feature  \
Split Dataset
Train Main                                         4.67
      Query Category Metadata                      5.17
      Label Category Metadata                      1.72
Test  Main                                         1.73
      Query Category Metadata                      1.27
      Label Category Metadata                      1.72

                               Avg. Feature per entry  \
Split Dataset
Train Main                                       2.11
      Query Category Metadata                    4.89
      Label Category Metadata                    3.61
Test  Main                                       3.05
      Query Category Metadata                    4.68
      Label Category Metadata                    3.61

                               Max. Entries per feature  \
Split Dataset
Train Main                                         2929
      Query Category Metadata                     43980
      Label Category Metadata                      3001
Test  Main                                          309
      Query Category Metadata                      7746
      Label Category Metadata                      3001

                               Max. Feature per entry  \
Split Dataset
Train Main                                         57
      Query Category Metadata                     280
      Label Category Metadata                     270
Test  Main                                        129
      Query Category Metadata                     242
      Label Category Metadata                     270

                               # Features without entry  \
Split Dataset
Train Main                                            0
      Query Category Metadata                     48622
      Label Category Metadata                    329013
Test  Main                                            0
      Query Category Metadata                    367347
      Label Category Metadata                    329013

                               # Entries without feature
Split Dataset
Train Main                                             0
      Query Category Metadata                       9899
      Label Category Metadata                      72609
Test  Main                                             0
      Query Category Metadata                       3961
      Label Category Metadata                      72609

data_input_text : Naehae of Silla
lbl2data_input_text : ['List of Korea-related topics', 'History of Korea', 'List of monarchs of Korea', 'Three Kingdoms of Korea']
cat2data_input_text : ['Year of birth unknown', 'Silla rulers', '2nd-century monarchs in Asia', '3rd-century monarchs in Asia', '230 deaths']
cat2lbl2data_input_text : [[], ['History of Korea'], [], ['50s BC establishments', 'Three Kingdoms of Korea', 'Early Korean history', 'Cultural lists', '668 disestablishments', '57 BC']]

data_input_text : 9/11 Living Memorial Plaza
lbl2data_input_text : ['Casualties of the September 11 attacks', 'Memorials and services for the September 11 attacks']
cat2data_input_text : ['Memorials for the September 11 attacks', 'Monuments and memorials in Israel', '2009 sculptures', '2009 establishments in Israel', 'Buildings and structures in Jerusalem']
cat2lbl2data_input_text : [['2001 deaths', 'Victims of the September 11 attacks'], ['Aftermath of the September 11 attacks', 'Memorials for the September 11 attacks', 'Lists of monuments and memorials']]

data_input_text : Homo antecessor
lbl2data_input_text : ['Paleolithic Europe', 'Happisburgh footprints', 'Homo heidelbergensis']
cat2data_input_text : ['Lower Paleolithic', 'Fossil taxa described in 1997', 'Early species of Homo', 'Prehistoric cannibalism', 'Pleistocene primates', '1994 archaeological discoveries', 'Prehistoric Spain']
cat2lbl2data_input_text : [[], ['2013 in the United Kingdom', '2013 archaeological discoveries', 'Paleoanthropological sites', 'Homo fossils', 'Archaeology of Norfolk', 'Archaeological discoveries in the United Kingdom'], ['Homo heidelbergensis', 'Fossil taxa described in 1908']]

data_input_text : Muhammad Saleh Kamboh
lbl2data_input_text : ['Shah Jahan', 'Walled City of Lahore', 'Lahore', 'Mughal Empire', 'Muhammad Saleh Kamboh']
cat2data_input_text : ['Year of birth unknown', '17th-century deaths', 'Historiography of India', '17th-century Indian poets', '17th-century Indian historians', '17th-century Indian biographers']
cat2lbl2data_input_text : [['Indian Muslims', 'People from Lahore', 'People from Agra', 'Agra', 'Turkic rulers', 'Mughal emperors', '17th-century Indian monarchs', 'Timurid monarchs', '1666 deaths', '1592 births', 'Subahdars of Gujarat', 'Taj Mahal'], ['Walled City of Lahore', 'Populated places in Lahore District', 'Gates of Lahore'], ['Lahore', 'Places in the Ramayana', 'Former capital cities in India', 'Populated places in Lahore District', 'Cities in Punjab (Pakistan)', 'Metropolitan areas of Pakistan', 'Capitals of Pakistan'], ['History of Bangladesh', 'History of Kolkata', 'History of Pakistan', 'Medieval India', 'Mughal Empire', 'History of Bengal', 'History of West Bengal', 'Historical Turkic states', 'Mongol states', 'Empires and kingdoms of Afghanistan', 'States and territories established in 1526', 'States and territories disestablished in 1857', '1526 establishments in the Mughal Empire', '1857 disestablishments in the Mughal Empire'], ['Year of birth unknown', '17th-century deaths', 'Historiography of India', '17th-century Indian poets', '17th-century Indian historians', '17th-century Indian biographers']]

data_input_text : Mary Dean Three-Decker
lbl2data_input_text : ['National Register of Historic Places listings in eastern Worcester, Massachusetts']
cat2data_input_text : ['Houses completed in 1892', 'Apartment buildings on the National Register of Historic Places in Massachusetts', 'Queen Anne architecture in Massachusetts', 'National Register of Historic Places in Worcester, Massachusetts', 'Houses in Worcester, Massachusetts', 'Demolished buildings and structures in Massachusetts', 'Triple-decker apartment houses']
cat2lbl2data_input_text : [['History of Worcester, Massachusetts', 'Worcester, Massachusetts-related lists', 'Lists of National Register of Historic Places in Worcester, Massachusetts']]

data_input_text : Zapata Corp v. Maldonado
lbl2data_input_text : ['United States corporate law']
cat2data_input_text : ['United States corporate case law']
cat2lbl2data_input_text : [['United States corporate law']]

data_input_text : Celtel
lbl2data_input_text : ['Mobile technology in Africa', 'Bharti Airtel', 'Airtel Africa', 'Zain']
cat2data_input_text : ['Technology companies established in 1998', 'Telecommunications companies of Africa', 'Communications in Kenya', '1998 establishments in Kenya']
cat2lbl2data_input_text : [[], ['Telecommunications companies of India', 'Companies listed on the Bombay Stock Exchange', 'Private equity portfolio companies', 'Multinational companies headquartered in India', 'Companies based in New Delhi', 'Indian brands', 'Indian companies established in 1995', 'Bharti Airtel', 'Mobile phone companies of India', 'Internet service providers of India', 'Media companies based in Delhi', 'CNX Nifty', 'BSE SENSEX', 'Media companies established in 1995', 'Telecommunications companies established in 1995', 'Vodafone'], ['Indian companies established in 2010', 'Companies based in Amsterdam', 'Telecommunications companies of Africa', 'Bharti Airtel', 'Telecommunications companies established in 2010'], []]

data_input_text : Santa-Maria-Poggio
lbl2data_input_text : ['Communes of the Haute-Corse department']
cat2data_input_text : ['Communes of Haute-Corse']
cat2lbl2data_input_text : [['Communes of Haute-Corse', 'Lists of communes of France']]

data_input_text : 1897 Ãcole des Beaux-Arts vs. AcadÃ©mie Julian football game
lbl2data_input_text : ['History of American football']
cat2data_input_text : ['College football games', 'American football in France', 'November 1897 sports events', '1897 in French sport', '1897 in American football']
cat2lbl2data_input_text : [['College football games']]

data_input_text : Le Champ-de-la-Pierre
lbl2data_input_text : ['Communes of the Orne department', 'Parc naturel rÃ\x83Â©gional Normandie-Maine']
cat2data_input_text : ['Communes of Orne']
cat2lbl2data_input_text : [['Communes of Orne', 'Lists of communes of France'], []]

### `old-old-new`

In [ ]:
show_func(x_prefix='old', y_prefix='old', z_prefix='new')

                               # Entries  # Features  \
Split Dataset
Train Main                        693082      312330
      Query Category Metadata     693082      810093
      Label Category Metadata     312330      810093
Test  Main                        177515      312330
      Query Category Metadata     177515      810093
      Label Category Metadata     312330      810093

                               Avg. Entries per feature  \
Split Dataset
Train Main                                         4.67
      Query Category Metadata                      4.48
      Label Category Metadata                      1.87
Test  Main                                         1.73
      Query Category Metadata                      1.10
      Label Category Metadata                      1.87

                               Avg. Feature per entry  \
Split Dataset
Train Main                                       2.11
      Query Category Metadata                    5.24
      Label Category Metadata                    4.85
Test  Main                                       3.05
      Query Category Metadata                    5.03
      Label Category Metadata                    4.85

                               Max. Entries per feature  \
Split Dataset
Train Main                                         2929
      Query Category Metadata                     36700
      Label Category Metadata                      3836
Test  Main                                          309
      Query Category Metadata                      6639
      Label Category Metadata                      3836

                               Max. Feature per entry  \
Split Dataset
Train Main                                         57
      Query Category Metadata                     245
      Label Category Metadata                     247
Test  Main                                        129
      Query Category Metadata                     247
      Label Category Metadata                     247

                               # Features without entry  \
Split Dataset
Train Main                                            0
      Query Category Metadata                     73210
      Label Category Metadata                    388883
Test  Main                                            0
      Query Category Metadata                    472596
      Label Category Metadata                    388883

                               # Entries without feature
Split Dataset
Train Main                                             0
      Query Category Metadata                      60302
      Label Category Metadata                      25693
Test  Main                                             0
      Query Category Metadata                      13171
      Label Category Metadata                      25693

data_input_text : Viktors Pupols
lbl2data_input_text : ['Last Exit on Brooklyn']
cat2data_input_text : ['Sportspeople from Tacoma, Washington', 'Living people', 'American chess players', '1935 births', 'Latvian chess players']
cat2lbl2data_input_text : [['1967 establishments in Washington (state)', 'Coffee in Seattle', 'Counterculture of the 1970s', 'Chess in the United States', 'Culture of Seattle', 'History of Seattle', 'Counterculture of the 1960s', 'Coffeehouses and cafés in Seattle', '2000 disestablishments in Washington (state)', 'Counterculture of the 1990s', 'Defunct restaurants in Seattle', 'Restaurants in University District, Seattle', 'Chess places', 'Restaurants established in 1967', 'Counterculture of the 1980s', 'Restaurants disestablished in 2000']]

data_input_text : 44th Indian Infantry Brigade
lbl2data_input_text : ['List of Indian Army Brigades in World War II']
cat2data_input_text : ['British Indian Army brigades']
cat2lbl2data_input_text : [['Brigades of India in World War II', 'British Indian Army brigades']]

data_input_text : Grinner's Food Systems
lbl2data_input_text : ['List of Canadian restaurant chains']
cat2data_input_text : ['Restaurant chains in Canada', 'Food and drink companies based in Nova Scotia', 'Restaurants in Nova Scotia', 'Restaurant franchises']
cat2lbl2data_input_text : [['Lists of restaurants in Canada', 'Restaurant chains in Canada']]

data_input_text : Acrimony (film)
lbl2data_input_text : ['List of black films of the 2010s']
cat2data_input_text : ['Films directed by Tyler Perry', '2018 psychological thriller films', 'Films shot in Pittsburgh', 'Films about sexuality', 'Lionsgate films', 'Films with screenplays by Tyler Perry', 'Films set in Pittsburgh', '2010s American films', '2010s erotic thriller films', 'American erotic thriller films', 'Films about adultery in the United States', 'English-language erotic thriller films', '2018 films', '2010s English-language films', 'African-American films', 'American psychological thriller films', 'Films scored by Christopher Lennertz', 'American thriller films', 'American films about revenge']
cat2lbl2data_input_text : [['African-American films', 'Lists of films']]

data_input_text : Triangle Expressway
lbl2data_input_text : ['Numbered highways in the United States', 'North Carolina']
cat2data_input_text : ['Transportation in Durham County, North Carolina', 'Toll roads in North Carolina', 'Freeways in North Carolina', 'Transportation in Wake County, North Carolina', 'Research Triangle']
cat2lbl2data_input_text : [['Road signs in the United States', 'United States state insignia', 'State highways in the United States', 'Highways in the United States'], ['State of Franklin', 'States of the United States', 'States of the East Coast of the United States', 'Southeastern United States', 'Contiguous United States', 'North Carolina', 'States of the Confederate States of America', 'Southern United States', 'States and territories established in 1789', 'Spanish colonization of the Americas']]

data_input_text : Harvey Keitel
lbl2data_input_text : ['Biography', 'United States Marine Corps']
cat2data_input_text : ['Male actors from Brooklyn', 'Living people', 'Lee Strasberg Theatre and Film Institute alumni', 'Military personnel from New York (state)', 'Method actors', 'Military personnel from New York City', '21st-century American Jews', 'People from Fire Island, New York', 'Jews from New York (state)', 'David di Donatello winners', 'American people of Romanian-Jewish descent', 'Film producers from New York (state)', 'United States Marines', 'American people of Polish-Jewish descent', 'American male film actors', 'Jewish American male actors', 'Jewish American military personnel', 'People from Brighton Beach', 'American Ashkenazi Jews', 'Independent Spirit Award for Best Male Lead winners', '1939 births', '20th-century American male actors', 'Abraham Lincoln High School (Brooklyn) alumni', '21st-century American male actors']
cat2lbl2data_input_text : [['Biography (genre)', 'History', 'Genres', 'Non-fiction literature'], ['Uniformed services of the United States', '1775 establishments in the Thirteen Colonies', 'United States Armed Forces service branches', 'Articles containing video clips', 'Military units and formations established in 1775', 'United States Marine Corps']]

data_input_text : Burton J. Westcott
lbl2data_input_text : ['Westcott House']
cat2data_input_text : ['Mayors of places in Ohio', 'Ohio Republicans', 'American businesspeople', 'Politicians from Springfield, Ohio', '1926 deaths', 'Swarthmore College alumni', '1868 births', 'DePauw University alumni', 'People from Richmond, Indiana']
cat2lbl2data_input_text : [[]]

data_input_text : Carl Gustav RehnskiÃ¶ld
lbl2data_input_text : ['List of Swedish field marshals']
cat2data_input_text : []
cat2lbl2data_input_text : [['Lists of field marshals', 'Lists of Swedish military personnel', 'Field marshals of Sweden', 'Swedish military-related lists']]

data_input_text : Armando Filiput
lbl2data_input_text : ['FIDAL Hall of Fame']
cat2data_input_text : ['Athletes (track and field) at the 1952 Summer Olympics', 'Athletes (track and field) at the 1955 Mediterranean Games', 'Sportspeople from the Province of Gorizia', 'Italian male hurdlers', '1923 births', '1982 deaths', 'Athletes (track and field) at the 1951 Mediterranean Games', 'Olympic athletes for Italy', '20th-century Italian sportsmen', 'European Athletics Championships medalists', 'Mediterranean Games medalists in athletics', 'Mediterranean Games bronze medalists for Italy', 'Italian Athletics Championships winners', 'Mediterranean Games gold medalists for Italy']
cat2lbl2data_input_text : [['Sport in Italy', 'Sport of athletics awards', 'Awards established in 2012', '2012 establishments in Italy', 'Sports halls of fame', 'Halls of fame in Italy', 'Organizations established in 2012', 'Athletics in Italy', 'Non-profit organisations based in Italy', 'Lists of track and field athletes']]

data_input_text : Saratoga County, New York
lbl2data_input_text : ['List of counties in New York', 'National Register of Historic Places listings in Saratoga County, New York']
cat2data_input_text : ['New York (state) placenames of Native American origin', '1791 establishments in New York (state)', 'Populated places established in 1791', 'Capital District (New York)', 'Saratoga County, New York']
cat2lbl2data_input_text : [['Lists of counties of the United States by state', 'New York (state) counties', 'Lists of populated places in New York (state)'], ['Lists of National Register of Historic Places in New York (state) by county', 'National Register of Historic Places in Saratoga County, New York']]

### `old-new-new`

In [ ]:
show_func(x_prefix='old', y_prefix='new', z_prefix='new')

                               # Entries  # Features  \
Split Dataset
Train Main                        693082      573503
      Query Category Metadata     693082      872994
      Label Category Metadata     573503      872994
Test  Main                        177515      573503
      Query Category Metadata     177515      872994
      Label Category Metadata     573503      872994

                               Avg. Entries per feature  \
Split Dataset
Train Main                                         2.75
      Query Category Metadata                      4.16
      Label Category Metadata                      2.62
Test  Main                                         0.89
      Query Category Metadata                      1.03
      Label Category Metadata                      2.62

                               Avg. Feature per entry  \
Split Dataset
Train Main                                       2.28
      Query Category Metadata                    5.24
      Label Category Metadata                    3.98
Test  Main                                       2.88
      Query Category Metadata                    5.09
      Label Category Metadata                    3.98

                               Max. Entries per feature  \
Split Dataset
Train Main                                         2358
      Query Category Metadata                     36700
      Label Category Metadata                      7824
Test  Main                                          244
      Query Category Metadata                      6639
      Label Category Metadata                      7824

                               Max. Feature per entry  \
Split Dataset
Train Main                                        136
      Query Category Metadata                     245
      Label Category Metadata                     247
Test  Main                                        121
      Query Category Metadata                     247
      Label Category Metadata                     247

                               # Features without entry  \
Split Dataset
Train Main                                            0
      Query Category Metadata                    136111
      Label Category Metadata                    287010
Test  Main                                       296707
      Query Category Metadata                    526146
      Label Category Metadata                    287010

                               # Entries without feature
Split Dataset
Train Main                                         95940
      Query Category Metadata                      60302
      Label Category Metadata                     147334
Test  Main                                         28176
      Query Category Metadata                      13005
      Label Category Metadata                     147334

data_input_text : Salish peoples
lbl2data_input_text : ['Coast Salish art', 'Coast Salish peoples']
cat2data_input_text : ['First Nations in British Columbia', 'Native American tribes in Washington (state)', 'Native American tribes in Idaho', 'Indigenous peoples of the Pacific Northwest', 'Native American tribes in Oregon', 'Salish peoples', 'Native American tribes in Montana']
cat2lbl2data_input_text : [['Coast Salish art', 'Art in Washington (state)', 'Culture of British Columbia', 'Northwest Coast art', 'Indigenous art in Canada'], []]

data_input_text : Loch Ascog
lbl2data_input_text : ['List of lochs in Scotland', 'Ascog House', 'List of reservoirs and dams in the United Kingdom']
cat2data_input_text : ['Isle of Bute', 'Lochs of Scottish islands', 'Reservoirs in Argyll and Bute']
cat2lbl2data_input_text : [[], ['Landmark Trust properties in Scotland', 'Category B listed buildings in Argyll and Bute', 'Listed houses in Scotland', 'Country houses in Argyll and Bute', 'Isle of Bute'], []]

data_input_text : Hystrichophora (moth)
lbl2data_input_text : ['List of Tortricidae genera']
cat2data_input_text : ['Tortricidae genera', 'Enarmoniini']
cat2lbl2data_input_text : [['Tortricidae', 'Taxonomic lists (genera, taxonomic)', 'Tortricidae genera', 'Lists of Lepidoptera genera']]

data_input_text : Jameh Mosque of Isfahan
lbl2data_input_text : ['List of mosques in Iran', 'History of Persian domes']
cat2data_input_text : ['World Heritage Sites in Iran', 'National works of Iran', '8th-century establishments in the Umayyad Caliphate', 'Grand mosques', '8th-century mosques', 'Seljuk architecture', 'Mosques in Isfahan', 'Shia mosques']
cat2lbl2data_input_text : [['Mosques in Iran', 'Lists of mosques', 'Lists of religious buildings and structures in Iran'], ['Domes', 'Architecture in Iran']]

data_input_text : Dead Gorgeous
lbl2data_input_text : ['List of ghost films']
cat2data_input_text : ["British children's fantasy television series", "BBC children's television shows", 'Television series about sisters', 'Television series about ghosts', 'Australian Broadcasting Corporation original programming', '2010 Australian television series endings', "Australian children's fantasy television series", 'Australian television series about teenagers', '2010 Australian television series debuts', 'Television series about children', 'British television series about teenagers']
cat2lbl2data_input_text : [['Lists of horror films', 'Lists of films by topic', 'Television shows about ghosts', 'Ghost films', 'Lists of films by common content', 'Fictional ghosts']]

data_input_text : Bandarban Sadar Upazila
lbl2data_input_text : ['Districts of Bangladesh', 'Upazilas of Bangladesh', 'Divisions of Bangladesh']
cat2data_input_text : ['Upazilas of Bandarban District']
cat2lbl2data_input_text : [['Administrative divisions in Asia', 'Districts of Bangladesh', 'Subdivisions of Bangladesh', 'Lists of subdivisions of Bangladesh', 'Second-level administrative divisions by country'], [], ['Administrative divisions in Asia', 'Subdivisions of Bangladesh', 'First-level administrative divisions by country', 'Lists of subdivisions of Bangladesh', 'Divisions of Bangladesh']]

data_input_text : Melaka Stamp Museum
lbl2data_input_text : ['List of tourist attractions in Malacca', 'List of museums in Malaysia']
cat2data_input_text : ['Museums in Malacca', '2007 establishments in Malaysia', 'Museums established in 2007', 'Postal museums']
cat2lbl2data_input_text : [['Tourist attractions in Malacca', 'Lists of tourist attractions in Malaysia by state or federal territory', 'Tourism in Malaysia'], ['Lists of museums in Southeast Asia', 'Malaysia education-related lists', 'Museums in Malaysia', 'Lists of buildings and structures in Malaysia', 'Lists of museums by country', 'Lists of tourist attractions in Malaysia']]

data_input_text : Magic Chef
lbl2data_input_text : ['Dortch Stove Works']
cat2data_input_text : ['American brands', 'Companies based in St. Louis', 'Electronics companies established in 1901', 'American companies established in 1901', 'Home appliance brands', 'Maytag brands', '1881 establishments in Missouri', '1929 establishments in Missouri', '1986 mergers and acquisitions', 'Products introduced in 1929', '1901 establishments in Missouri']
cat2lbl2data_input_text : [['Stoves', '1933 establishments in Tennessee', 'Industrial buildings completed in 1933', 'National Register of Historic Places in Williamson County, Tennessee', 'Industrial buildings and structures on the National Register of Historic Places in Tennessee', 'Shopping malls in Tennessee']]

data_input_text : Augustin Verot
lbl2data_input_text : ['Lists of patriarchs, archbishops, and bishops', 'Catholic Church in the United States', 'List of Catholic bishops of the United States', 'Catholic Church hierarchy', 'Historical list of the Catholic bishops of the United States']
cat2data_input_text : ['19th-century Roman Catholic bishops in the United States', 'Sulpician bishops', "St. Mary's Seminary and University faculty", '1876 deaths', 'Roman Catholic bishops of Savannah, Georgia', 'Roman Catholic bishops of Saint Augustine', 'Seminary of Saint-Sulpice (France) alumni', '1804 births', 'French emigrants to the United States']
cat2lbl2data_input_text : [[], ['Catholic Church by country', 'Catholic Church in the United States'], [], [], ['Lists of Roman Catholic bishops and archbishops in the United States', 'Roman Catholic bishops in the United States']]

data_input_text : Antigonus of Sokho
lbl2data_input_text : ['Hellenistic Judaism']
cat2data_input_text : ['Zugot', '3rd-century BCE rabbis', 'Mishnah rabbis', 'Pirkei Avot rabbis']
cat2lbl2data_input_text : [['Hellenistic Jewish history', 'Cultural exchange', 'Hellenistic Judaism', 'Interculturalism']]

### `old-combined-new`

In [ ]:
show_func(x_prefix='old', y_prefix='combined', z_prefix='new')

                               # Entries  # Features  \
Split Dataset
Train Main                        693082      646869
      Query Category Metadata     693082      885230
      Label Category Metadata     646869      885230
Test  Main                        177515      646869
      Query Category Metadata     177515      885230
      Label Category Metadata     646869      885230

                               Avg. Entries per feature  \
Split Dataset
Train Main                                         3.24
      Query Category Metadata                      4.10
      Label Category Metadata                      2.89
Test  Main                                         1.02
      Query Category Metadata                      1.02
      Label Category Metadata                      2.89

                               Avg. Feature per entry  \
Split Dataset
Train Main                                       3.02
      Query Category Metadata                    5.24
      Label Category Metadata                    3.96
Test  Main                                       3.73
      Query Category Metadata                    5.11
      Label Category Metadata                    3.96

                               Max. Entries per feature  \
Split Dataset
Train Main                                         2964
      Query Category Metadata                     36700
      Label Category Metadata                      8650
Test  Main                                          310
      Query Category Metadata                      6639
      Label Category Metadata                      8650

                               Max. Feature per entry  \
Split Dataset
Train Main                                        137
      Query Category Metadata                     245
      Label Category Metadata                     247
Test  Main                                        154
      Query Category Metadata                     247
      Label Category Metadata                     247

                               # Features without entry  \
Split Dataset
Train Main                                            0
      Query Category Metadata                    148347
      Label Category Metadata                    265110
Test  Main                                       288193
      Query Category Metadata                    534527
      Label Category Metadata                    265110

                               # Entries without feature
Split Dataset
Train Main                                          6729
      Query Category Metadata                      60302
      Label Category Metadata                     171201
Test  Main                                          1858
      Query Category Metadata                      12897
      Label Category Metadata                     171201

data_input_text : Viktors Pupols
lbl2data_input_text : ['Last Exit on Brooklyn']
cat2data_input_text : ['Sportspeople from Tacoma, Washington', 'Living people', 'American chess players', '1935 births', 'Latvian chess players']
cat2lbl2data_input_text : [['1967 establishments in Washington (state)', 'Coffee in Seattle', 'Counterculture of the 1970s', 'Chess in the United States', 'Culture of Seattle', 'History of Seattle', 'Counterculture of the 1960s', 'Coffeehouses and cafés in Seattle', '2000 disestablishments in Washington (state)', 'Counterculture of the 1990s', 'Defunct restaurants in Seattle', 'Restaurants in University District, Seattle', 'Chess places', 'Restaurants established in 1967', 'Counterculture of the 1980s', 'Restaurants disestablished in 2000']]

data_input_text : 44th Indian Infantry Brigade
lbl2data_input_text : ['List of Indian Army Brigades in World War II']
cat2data_input_text : ['British Indian Army brigades']
cat2lbl2data_input_text : [['Brigades of India in World War II', 'British Indian Army brigades']]

data_input_text : Grinner's Food Systems
lbl2data_input_text : ['List of Canadian restaurant chains']
cat2data_input_text : ['Restaurant chains in Canada', 'Food and drink companies based in Nova Scotia', 'Restaurants in Nova Scotia', 'Restaurant franchises']
cat2lbl2data_input_text : [['Lists of restaurants in Canada', 'Restaurant chains in Canada']]

data_input_text : Acrimony (film)
lbl2data_input_text : ['List of black films of the 2010s']
cat2data_input_text : ['Films directed by Tyler Perry', '2018 psychological thriller films', 'Films shot in Pittsburgh', 'Films about sexuality', 'Lionsgate films', 'Films with screenplays by Tyler Perry', 'Films set in Pittsburgh', '2010s American films', '2010s erotic thriller films', 'American erotic thriller films', 'Films about adultery in the United States', 'English-language erotic thriller films', '2018 films', '2010s English-language films', 'African-American films', 'American psychological thriller films', 'Films scored by Christopher Lennertz', 'American thriller films', 'American films about revenge']
cat2lbl2data_input_text : [['African-American films', 'Lists of films']]

data_input_text : Triangle Expressway
lbl2data_input_text : ['North Carolina', 'Numbered highways in the United States']
cat2data_input_text : ['Transportation in Durham County, North Carolina', 'Toll roads in North Carolina', 'Freeways in North Carolina', 'Transportation in Wake County, North Carolina', 'Research Triangle']
cat2lbl2data_input_text : [['State of Franklin', 'States of the United States', 'States of the East Coast of the United States', 'Southeastern United States', 'Contiguous United States', 'North Carolina', 'States of the Confederate States of America', 'Southern United States', 'States and territories established in 1789', 'Spanish colonization of the Americas'], ['Road signs in the United States', 'United States state insignia', 'State highways in the United States', 'Highways in the United States']]

data_input_text : Harvey Keitel
lbl2data_input_text : ['United States Marine Corps', 'Biography']
cat2data_input_text : ['Male actors from Brooklyn', 'Living people', 'Lee Strasberg Theatre and Film Institute alumni', 'Military personnel from New York (state)', 'Method actors', 'Military personnel from New York City', '21st-century American Jews', 'People from Fire Island, New York', 'Jews from New York (state)', 'David di Donatello winners', 'American people of Romanian-Jewish descent', 'Film producers from New York (state)', 'United States Marines', 'American people of Polish-Jewish descent', 'American male film actors', 'Jewish American male actors', 'Jewish American military personnel', 'People from Brighton Beach', 'American Ashkenazi Jews', 'Independent Spirit Award for Best Male Lead winners', '1939 births', '20th-century American male actors', 'Abraham Lincoln High School (Brooklyn) alumni', '21st-century American male actors']
cat2lbl2data_input_text : [['Uniformed services of the United States', '1775 establishments in the Thirteen Colonies', 'United States Armed Forces service branches', 'Articles containing video clips', 'Military units and formations established in 1775', 'United States Marine Corps'], ['Biography (genre)', 'History', 'Genres', 'Non-fiction literature']]

data_input_text : Burton J. Westcott
lbl2data_input_text : ['Westcott House (Springfield, Ohio)', 'Westcott House']
cat2data_input_text : ['Mayors of places in Ohio', 'Ohio Republicans', 'American businesspeople', 'Politicians from Springfield, Ohio', '1926 deaths', 'Swarthmore College alumni', '1868 births', 'DePauw University alumni', 'People from Richmond, Indiana']
cat2lbl2data_input_text : [['Museums in Clark County, Ohio', '1908 establishments in Ohio', 'Historic house museums in Ohio', 'National Register of Historic Places in Clark County, Ohio', 'Frank Lloyd Wright buildings', 'Prairie School architecture in Ohio', 'Houses on the National Register of Historic Places in Ohio', 'Houses completed in 1908', 'Buildings and structures in Springfield, Ohio', 'Houses in Clark County, Ohio'], []]

data_input_text : Carl Gustav RehnskiÃ¶ld
lbl2data_input_text : ['List of Swedish field marshals']
cat2data_input_text : []
cat2lbl2data_input_text : [['Lists of field marshals', 'Lists of Swedish military personnel', 'Field marshals of Sweden', 'Swedish military-related lists']]

data_input_text : Armando Filiput
lbl2data_input_text : ['FIDAL Hall of Fame']
cat2data_input_text : ['Athletes (track and field) at the 1952 Summer Olympics', 'Athletes (track and field) at the 1955 Mediterranean Games', 'Sportspeople from the Province of Gorizia', 'Italian male hurdlers', '1923 births', '1982 deaths', 'Athletes (track and field) at the 1951 Mediterranean Games', 'Olympic athletes for Italy', '20th-century Italian sportsmen', 'European Athletics Championships medalists', 'Mediterranean Games medalists in athletics', 'Mediterranean Games bronze medalists for Italy', 'Italian Athletics Championships winners', 'Mediterranean Games gold medalists for Italy']
cat2lbl2data_input_text : [['Sport in Italy', 'Sport of athletics awards', 'Awards established in 2012', '2012 establishments in Italy', 'Sports halls of fame', 'Halls of fame in Italy', 'Organizations established in 2012', 'Athletics in Italy', 'Non-profit organisations based in Italy', 'Lists of track and field athletes']]

data_input_text : Saratoga County, New York
lbl2data_input_text : ['National Register of Historic Places listings in Saratoga County, New York', 'List of counties in New York']
cat2data_input_text : ['New York (state) placenames of Native American origin', '1791 establishments in New York (state)', 'Populated places established in 1791', 'Capital District (New York)', 'Saratoga County, New York']
cat2lbl2data_input_text : [['Lists of National Register of Historic Places in New York (state) by county', 'National Register of Historic Places in Saratoga County, New York'], ['Lists of counties of the United States by state', 'New York (state) counties', 'Lists of populated places in New York (state)']]

### `old-old-combined`

In [ ]:
show_func(x_prefix='old', y_prefix='old', z_prefix='combined')

                               # Entries  # Features  \
Split Dataset
Train Main                        693082      312330
      Query Category Metadata     693082      922126
      Label Category Metadata     312330      922126
Test  Main                        177515      312330
      Query Category Metadata     177515      922126
      Label Category Metadata     312330      922126

                               Avg. Entries per feature  \
Split Dataset
Train Main                                         4.67
      Query Category Metadata                      5.01
      Label Category Metadata                      1.93
Test  Main                                         1.73
      Query Category Metadata                      1.22
      Label Category Metadata                      1.93

                               Avg. Feature per entry  \
Split Dataset
Train Main                                       2.11
      Query Category Metadata                    6.66
      Label Category Metadata                    5.69
Test  Main                                       3.05
      Query Category Metadata                    6.35
      Label Category Metadata                    5.69

                               Max. Entries per feature  \
Split Dataset
Train Main                                         2929
      Query Category Metadata                     44772
      Label Category Metadata                      3904
Test  Main                                          309
      Query Category Metadata                      7938
      Label Category Metadata                      3904

                               Max. Feature per entry  \
Split Dataset
Train Main                                         57
      Query Category Metadata                     287
      Label Category Metadata                     287
Test  Main                                        129
      Query Category Metadata                     256
      Label Category Metadata                     287

                               # Features without entry  \
Split Dataset
Train Main                                            0
      Query Category Metadata                     74546
      Label Category Metadata                    450650
Test  Main                                            0
      Query Category Metadata                    524956
      Label Category Metadata                    450650

                               # Entries without feature
Split Dataset
Train Main                                             0
      Query Category Metadata                       2684
      Label Category Metadata                      22467
Test  Main                                             0
      Query Category Metadata                       1524
      Label Category Metadata                      22467

data_input_text : Viktors Pupols
lbl2data_input_text : ['Last Exit on Brooklyn']
cat2data_input_text : ['Living people', '1935 births', 'American chess players', 'Sportspeople from Tacoma, Washington', 'Latvian chess players']
cat2lbl2data_input_text : [['Culture of Seattle', 'Counterculture', 'Chess in the United States', '2000 disestablishments in Washington (state)', 'Counterculture of the 1970s', 'Counterculture of the 1960s', 'Counterculture of the 1990s', 'Counterculture of the 1980s', 'History of Seattle', 'Restaurants established in 1967', 'University District, Seattle', 'Defunct restaurants in the United States', '1967 establishments in Washington (state)', 'Restaurants disestablished in 2000', 'Chess places', 'Coffee in Seattle', 'Restaurants in University District, Seattle', 'Coffeehouses and cafés in Seattle', 'Defunct restaurants in Seattle', 'Coffee houses of the United States']]

data_input_text : 44th Indian Infantry Brigade
lbl2data_input_text : ['List of Indian Army Brigades in World War II']
cat2data_input_text : ['British Indian Army brigades']
cat2lbl2data_input_text : [['British Indian Army brigades', 'Brigades of India in World War II', 'Military units and formations of India in World War II']]

data_input_text : Grinner's Food Systems
lbl2data_input_text : ['List of Canadian restaurant chains']
cat2data_input_text : ['Restaurant franchises', 'Restaurant chains in Canada', 'Food and drink companies based in Nova Scotia', 'Restaurants in Nova Scotia']
cat2lbl2data_input_text : [['Restaurant chains in Canada', 'Lists of restaurants', 'Lists of companies of Canada', 'Lists of restaurants in Canada', 'Restaurant groups in Canada', 'Restaurants in Canada']]

data_input_text : Acrimony (film)
lbl2data_input_text : ['List of black films of the 2010s']
cat2data_input_text : ['2010s English-language films', '2010s American films', 'American horror thriller films', 'Films about adultery in the United States', 'African-American films', '2018 films', 'American thriller films', 'American psychological thriller films', 'Films about sexuality', 'American films about revenge', 'Lionsgate films', 'Films shot in Pittsburgh', 'Films set in Pittsburgh', 'English-language erotic thriller films', 'Films directed by Tyler Perry', 'Films with screenplays by Tyler Perry', 'Films scored by Christopher Lennertz', 'American erotic thriller films', '2018 psychological thriller films', '2010s erotic thriller films', 'Romantic drama films', 'American films', '2010s horror thriller films', 'Lions Gate Entertainment films', 'Films about psychopaths', 'Romantic thriller films', 'Screenplays by Tyler Perry', 'Thriller drama films']
cat2lbl2data_input_text : [['African-American films', 'Lists of films', 'African-American cinema']]

data_input_text : Triangle Expressway
lbl2data_input_text : ['Numbered highways in the United States', 'North Carolina']
cat2data_input_text : ['Freeways in North Carolina', 'Research Triangle', 'Toll roads in North Carolina', 'Transportation in Wake County, North Carolina', 'Transportation in Durham County, North Carolina']
cat2lbl2data_input_text : [['Road signs in the United States', 'Highways in the United States', 'United States state insignia', 'State highways in the United States'], ['Spanish colonization of the Americas', 'Southeastern United States', 'Southern United States', 'States of the United States', 'States of the East Coast of the United States', 'Contiguous United States', 'States of the Confederate States of America', 'State of Franklin', 'North Carolina', 'States and territories established in 1789', 'States of the Confederate States']]

data_input_text : Harvey Keitel
lbl2data_input_text : ['Biography', 'United States Marine Corps']
cat2data_input_text : ['Living people', '21st-century American Jews', 'American male film actors', 'Independent Spirit Award for Best Male Lead winners', '20th-century American male actors', '21st-century American male actors', '1939 births', 'American people of Polish-Jewish descent', 'Jewish American military personnel', 'People from Brooklyn', 'United States Marines', 'Abraham Lincoln High School (Brooklyn) alumni', 'Military personnel from New York City', 'Jewish American male actors', 'Jews from New York (state)', 'David di Donatello winners', 'American people of Romanian-Jewish descent', 'Military personnel from New York (state)', 'American Jews', 'Male actors from New York City', 'Male actors from Brooklyn', 'Film producers from New York (state)', 'American Ashkenazi Jews', 'Lee Strasberg Theatre and Film Institute alumni', 'Method actors', 'People from Brighton Beach', 'People from Fire Island, New York']
cat2lbl2data_input_text : [['History', 'Genres', 'Non-fiction literature', 'Biography (genre)'], ['Articles containing video clips', 'Military units and formations established in 1775', 'United States Marine Corps', '1775 establishments in the Thirteen Colonies', 'Marines', 'Uniformed services of the United States', 'United States Armed Forces service branches']]

data_input_text : Burton J. Westcott
lbl2data_input_text : ['Westcott House']
cat2data_input_text : ['1926 deaths', '1868 births', 'Swarthmore College alumni', 'American businesspeople', 'People from Richmond, Indiana', 'Ohio Republicans', 'DePauw University alumni', 'Mayors of places in Ohio', 'Politicians from Springfield, Ohio']
cat2lbl2data_input_text : [[]]

data_input_text : Carl Gustav RehnskiÃ¶ld
lbl2data_input_text : ['List of Swedish field marshals']
cat2data_input_text : ['Swedish nobility', '1651 births', '1722 deaths', 'People from Swedish Pomerania', 'People from Stralsund', 'Prisoners of war held by Russia', 'Field marshals of Sweden', 'Battle of Poltava', 'Swedish military personnel of the Great Northern War', 'Swedish prisoners of war', '18th-century Swedish military personnel', 'People from Greifswald', "Swedish military personnel of the Nine Years' War", 'Caroleans']
cat2lbl2data_input_text : [['Swedish military-related lists', 'Field marshals of Sweden', 'Lists of field marshals', 'Lists of Swedish military personnel']]

data_input_text : Armando Filiput
lbl2data_input_text : ['FIDAL Hall of Fame']
cat2data_input_text : ['Olympic athletes for Italy', 'Mediterranean Games medalists in athletics', 'Mediterranean Games gold medalists for Italy', 'Mediterranean Games bronze medalists for Italy', 'Italian Athletics Championships winners', '1923 births', 'Athletes (track and field) at the 1952 Summer Olympics', 'Athletes (track and field) at the 1951 Mediterranean Games', '20th-century Italian sportsmen', 'European Athletics Championships medalists', '1982 deaths', 'Italian male hurdlers', 'Sportspeople from the Province of Gorizia', 'Athletes (track and field) at the 1955 Mediterranean Games', 'Olympic athletes of Italy', 'Competitors at the 1955 Mediterranean Games', 'Competitors at the 1951 Mediterranean Games']
cat2lbl2data_input_text : [['Sports halls of fame', 'Athletics in Italy', '2012 establishments in Italy', 'Awards established in 2012', 'Sport in Italy', 'Sport of athletics awards', 'Lists of track and field athletes', 'Organizations established in 2012', 'Non-profit organisations based in Italy', 'Halls of fame in Italy', 'Athletics (track and field) awards']]

data_input_text : Saratoga County, New York
lbl2data_input_text : ['List of counties in New York', 'National Register of Historic Places listings in Saratoga County, New York']
cat2data_input_text : ['Capital District (New York)', 'New York (state) placenames of Native American origin', 'Populated places established in 1791', '1791 establishments in New York (state)', 'Saratoga County, New York']
cat2lbl2data_input_text : [['Lists of populated places in New York (state)', 'Lists of counties of the United States by state', 'New York (state) counties'], ['Lists of National Register of Historic Places in New York (state) by county', 'National Register of Historic Places in Saratoga County, New York']]

### `old-new-combined`

In [ ]:
show_func(x_prefix='old', y_prefix='new', z_prefix='combined')

                               # Entries  # Features  \
Split Dataset
Train Main                        693082      573503
      Query Category Metadata     693082      983819
      Label Category Metadata     573503      983819
Test  Main                        177515      573503
      Query Category Metadata     177515      983819
      Label Category Metadata     573503      983819

                               Avg. Entries per feature  \
Split Dataset
Train Main                                         2.75
      Query Category Metadata                      4.69
      Label Category Metadata                      2.52
Test  Main                                         0.89
      Query Category Metadata                      1.16
      Label Category Metadata                      2.52

                               Avg. Feature per entry  \
Split Dataset
Train Main                                       2.28
      Query Category Metadata                    6.66
      Label Category Metadata                    4.31
Test  Main                                       2.88
      Query Category Metadata                    6.41
      Label Category Metadata                    4.31

                               Max. Entries per feature  \
Split Dataset
Train Main                                         2358
      Query Category Metadata                     44772
      Label Category Metadata                      8088
Test  Main                                          244
      Query Category Metadata                      7938
      Label Category Metadata                      8088

                               Max. Feature per entry  \
Split Dataset
Train Main                                        136
      Query Category Metadata                     287
      Label Category Metadata                     287
Test  Main                                        121
      Query Category Metadata                     256
      Label Category Metadata                     287

                               # Features without entry  \
Split Dataset
Train Main                                            0
      Query Category Metadata                    136199
      Label Category Metadata                    361760
Test  Main                                       296707
      Query Category Metadata                    576918
      Label Category Metadata                    361760

                               # Entries without feature
Split Dataset
Train Main                                         95940
      Query Category Metadata                       2684
      Label Category Metadata                     147061
Test  Main                                         28176
      Query Category Metadata                       1386
      Label Category Metadata                     147061

data_input_text : Viktors Pupols
lbl2data_input_text : ['Last Exit on Brooklyn']
cat2data_input_text : ['Living people', '1935 births', 'American chess players', 'Sportspeople from Tacoma, Washington', 'Latvian chess players']
cat2lbl2data_input_text : [['Culture of Seattle', 'Counterculture', 'Chess in the United States', '2000 disestablishments in Washington (state)', 'Counterculture of the 1970s', 'Counterculture of the 1960s', 'Counterculture of the 1980s', 'Counterculture of the 1990s', 'History of Seattle', 'Restaurants established in 1967', 'University District, Seattle', 'Defunct restaurants in the United States', '1967 establishments in Washington (state)', 'Restaurants disestablished in 2000', 'Chess places', 'Coffee in Seattle', 'Restaurants in University District, Seattle', 'Coffeehouses and cafés in Seattle', 'Defunct restaurants in Seattle', 'Coffee houses of the United States']]

data_input_text : 44th Indian Infantry Brigade
lbl2data_input_text : ['List of Indian Army Brigades in World War II']
cat2data_input_text : ['British Indian Army brigades']
cat2lbl2data_input_text : [['British Indian Army brigades', 'Brigades of India in World War II', 'Military units and formations of India in World War II']]

data_input_text : Grinner's Food Systems
lbl2data_input_text : ['List of Canadian restaurant chains']
cat2data_input_text : ['Restaurant franchises', 'Restaurant chains in Canada', 'Food and drink companies based in Nova Scotia', 'Restaurants in Nova Scotia']
cat2lbl2data_input_text : [['Restaurant chains in Canada', 'Lists of restaurants', 'Lists of companies of Canada', 'Lists of restaurants in Canada', 'Restaurant groups in Canada', 'Restaurants in Canada']]

data_input_text : Acrimony (film)
lbl2data_input_text : ['List of black films of the 2010s']
cat2data_input_text : ['2010s English-language films', 'African-American films', '2010s American films', 'American horror thriller films', 'Films about adultery in the United States', '2018 films', 'American thriller films', 'American psychological thriller films', 'Films about sexuality', 'American films about revenge', 'Lionsgate films', 'Films shot in Pittsburgh', 'Films set in Pittsburgh', 'English-language erotic thriller films', 'Films directed by Tyler Perry', 'Films with screenplays by Tyler Perry', 'Films scored by Christopher Lennertz', 'American erotic thriller films', '2018 psychological thriller films', '2010s erotic thriller films', 'Romantic drama films', 'American films', '2010s horror thriller films', 'Lions Gate Entertainment films', 'Films about psychopaths', 'Romantic thriller films', 'Screenplays by Tyler Perry', 'Thriller drama films']
cat2lbl2data_input_text : [['African-American films', 'Lists of films', 'African-American cinema']]

data_input_text : Triangle Expressway
lbl2data_input_text : []
cat2data_input_text : ['Freeways in North Carolina', 'Research Triangle', 'Transportation in Durham County, North Carolina', 'Transportation in Wake County, North Carolina', 'Toll roads in North Carolina']
cat2lbl2data_input_text : []

data_input_text : Harvey Keitel
lbl2data_input_text : []
cat2data_input_text : ['Living people', '21st-century American Jews', 'American male film actors', 'Independent Spirit Award for Best Male Lead winners', '20th-century American male actors', '21st-century American male actors', '1939 births', 'American people of Polish-Jewish descent', 'Jewish American military personnel', 'People from Brooklyn', 'United States Marines', 'Abraham Lincoln High School (Brooklyn) alumni', 'Military personnel from New York City', 'Jewish American male actors', 'Jews from New York (state)', 'David di Donatello winners', 'American people of Romanian-Jewish descent', 'Military personnel from New York (state)', 'American Jews', 'Male actors from New York City', 'Male actors from Brooklyn', 'Film producers from New York (state)', 'American Ashkenazi Jews', 'Lee Strasberg Theatre and Film Institute alumni', 'Method actors', 'People from Brighton Beach', 'People from Fire Island, New York']
cat2lbl2data_input_text : []

data_input_text : Burton J. Westcott
lbl2data_input_text : ['Westcott House (Springfield, Ohio)']
cat2data_input_text : ['1926 deaths', '1868 births', 'Swarthmore College alumni', 'American businesspeople', 'People from Richmond, Indiana', 'Ohio Republicans', 'DePauw University alumni', 'Mayors of places in Ohio', 'Politicians from Springfield, Ohio']
cat2lbl2data_input_text : [['1908 establishments in Ohio', 'Houses on the National Register of Historic Places in Ohio', 'Frank Lloyd Wright buildings', 'Historic house museums in Ohio', 'Houses completed in 1908', 'National Register of Historic Places in Clark County, Ohio', 'Buildings and structures in Springfield, Ohio', 'Prairie School architecture in Ohio', 'Museums in Clark County, Ohio', 'Houses in Clark County, Ohio']]

data_input_text : Carl Gustav RehnskiÃ¶ld
lbl2data_input_text : []
cat2data_input_text : ['Swedish nobility', '1651 births', '1722 deaths', 'People from Swedish Pomerania', 'People from Stralsund', 'Prisoners of war held by Russia', 'Field marshals of Sweden', 'Battle of Poltava', 'Swedish military personnel of the Great Northern War', 'Caroleans', 'Swedish prisoners of war', '18th-century Swedish military personnel', 'People from Greifswald', "Swedish military personnel of the Nine Years' War"]
cat2lbl2data_input_text : []

data_input_text : Armando Filiput
lbl2data_input_text : ['FIDAL Hall of Fame']
cat2data_input_text : ['Olympic athletes for Italy', 'Mediterranean Games medalists in athletics', 'Mediterranean Games gold medalists for Italy', 'Mediterranean Games bronze medalists for Italy', 'Italian Athletics Championships winners', '1923 births', 'Athletes (track and field) at the 1952 Summer Olympics', 'Athletes (track and field) at the 1951 Mediterranean Games', '20th-century Italian sportsmen', 'European Athletics Championships medalists', '1982 deaths', 'Italian male hurdlers', 'Sportspeople from the Province of Gorizia', 'Athletes (track and field) at the 1955 Mediterranean Games', 'Olympic athletes of Italy', 'Competitors at the 1955 Mediterranean Games', 'Competitors at the 1951 Mediterranean Games']
cat2lbl2data_input_text : [['Awards established in 2012', 'Athletics in Italy', 'Sport in Italy', 'Sports halls of fame', 'Sport of athletics awards', 'Lists of track and field athletes', 'Organizations established in 2012', 'Non-profit organisations based in Italy', '2012 establishments in Italy', 'Halls of fame in Italy', 'Athletics (track and field) awards']]

data_input_text : Saratoga County, New York
lbl2data_input_text : ['List of counties in New York', 'National Register of Historic Places listings in Saratoga County, New York']
cat2data_input_text : ['Capital District (New York)', 'Populated places established in 1791', 'New York (state) placenames of Native American origin', '1791 establishments in New York (state)', 'Saratoga County, New York']
cat2lbl2data_input_text : [['Lists of populated places in New York (state)', 'Lists of counties of the United States by state', 'New York (state) counties'], ['Lists of National Register of Historic Places in New York (state) by county', 'National Register of Historic Places in Saratoga County, New York']]

### `old-combined-combined`

In [ ]:
show_func(x_prefix='old', y_prefix='combined', z_prefix='combined')

                               # Entries  # Features  \
Split Dataset
Train Main                        693082      646869
      Query Category Metadata     693082      991035
      Label Category Metadata     646869      991035
Test  Main                        177515      646869
      Query Category Metadata     177515      991035
      Label Category Metadata     646869      991035

                               Avg. Entries per feature  \
Split Dataset
Train Main                                         3.24
      Query Category Metadata                      4.66
      Label Category Metadata                      2.83
Test  Main                                         1.02
      Query Category Metadata                      1.15
      Label Category Metadata                      2.83

                               Avg. Feature per entry  \
Split Dataset
Train Main                                       3.02
      Query Category Metadata                    6.66
      Label Category Metadata                    4.34
Test  Main                                       3.73
      Query Category Metadata                    6.42
      Label Category Metadata                    4.34

                               Max. Entries per feature  \
Split Dataset
Train Main                                         2964
      Query Category Metadata                     44772
      Label Category Metadata                      9066
Test  Main                                          310
      Query Category Metadata                      7938
      Label Category Metadata                      9066

                               Max. Feature per entry  \
Split Dataset
Train Main                                        137
      Query Category Metadata                     287
      Label Category Metadata                     287
Test  Main                                        154
      Query Category Metadata                     256
      Label Category Metadata                     287

                               # Features without entry  \
Split Dataset
Train Main                                            0
      Query Category Metadata                    143411
      Label Category Metadata                    328325
Test  Main                                       288193
      Query Category Metadata                    581793
      Label Category Metadata                    328325

                               # Entries without feature
Split Dataset
Train Main                                          6729
      Query Category Metadata                       2684
      Label Category Metadata                     168034
Test  Main                                          1858
      Query Category Metadata                       1371
      Label Category Metadata                     168034

data_input_text : Viktors Pupols
lbl2data_input_text : ['Last Exit on Brooklyn']
cat2data_input_text : ['Living people', '1935 births', 'American chess players', 'Sportspeople from Tacoma, Washington', 'Latvian chess players']
cat2lbl2data_input_text : [['Culture of Seattle', 'Counterculture', 'Chess in the United States', '2000 disestablishments in Washington (state)', 'Counterculture of the 1970s', 'Counterculture of the 1960s', 'Counterculture of the 1980s', 'Counterculture of the 1990s', 'History of Seattle', 'Restaurants established in 1967', 'University District, Seattle', 'Defunct restaurants in the United States', '1967 establishments in Washington (state)', 'Restaurants disestablished in 2000', 'Chess places', 'Coffee in Seattle', 'Restaurants in University District, Seattle', 'Coffeehouses and cafés in Seattle', 'Defunct restaurants in Seattle', 'Coffee houses of the United States']]

data_input_text : 44th Indian Infantry Brigade
lbl2data_input_text : ['List of Indian Army Brigades in World War II']
cat2data_input_text : ['British Indian Army brigades']
cat2lbl2data_input_text : [['British Indian Army brigades', 'Brigades of India in World War II', 'Military units and formations of India in World War II']]

data_input_text : Grinner's Food Systems
lbl2data_input_text : ['List of Canadian restaurant chains']
cat2data_input_text : ['Restaurant franchises', 'Restaurant chains in Canada', 'Food and drink companies based in Nova Scotia', 'Restaurants in Nova Scotia']
cat2lbl2data_input_text : [['Restaurant chains in Canada', 'Lists of restaurants', 'Lists of companies of Canada', 'Lists of restaurants in Canada', 'Restaurant groups in Canada', 'Restaurants in Canada']]

data_input_text : Acrimony (film)
lbl2data_input_text : ['List of black films of the 2010s']
cat2data_input_text : ['2010s English-language films', 'African-American films', '2010s American films', 'American horror thriller films', 'Films about adultery in the United States', '2018 films', 'American thriller films', 'American psychological thriller films', 'Films about sexuality', 'American films about revenge', 'Lionsgate films', 'Films shot in Pittsburgh', 'Films set in Pittsburgh', 'English-language erotic thriller films', 'Films directed by Tyler Perry', 'Films with screenplays by Tyler Perry', 'Films scored by Christopher Lennertz', 'American erotic thriller films', '2018 psychological thriller films', '2010s erotic thriller films', 'Romantic drama films', 'American films', '2010s horror thriller films', 'Lions Gate Entertainment films', 'Films about psychopaths', 'Romantic thriller films', 'Screenplays by Tyler Perry', 'Thriller drama films']
cat2lbl2data_input_text : [['African-American films', 'Lists of films', 'African-American cinema']]

data_input_text : Triangle Expressway
lbl2data_input_text : ['North Carolina', 'Numbered highways in the United States']
cat2data_input_text : ['Freeways in North Carolina', 'Research Triangle', 'Transportation in Durham County, North Carolina', 'Transportation in Wake County, North Carolina', 'Toll roads in North Carolina']
cat2lbl2data_input_text : [['Spanish colonization of the Americas', 'Southeastern United States', 'Southern United States', 'States of the United States', 'States of the East Coast of the United States', 'Contiguous United States', 'States of the Confederate States of America', 'State of Franklin', 'North Carolina', 'States and territories established in 1789'], ['Road signs in the United States', 'Highways in the United States', 'United States state insignia', 'State highways in the United States']]

data_input_text : Harvey Keitel
lbl2data_input_text : ['United States Marine Corps', 'Biography']
cat2data_input_text : ['Living people', '21st-century American Jews', 'American male film actors', 'Independent Spirit Award for Best Male Lead winners', '20th-century American male actors', '21st-century American male actors', '1939 births', 'American people of Polish-Jewish descent', 'Jewish American military personnel', 'People from Brooklyn', 'United States Marines', 'Abraham Lincoln High School (Brooklyn) alumni', 'Military personnel from New York City', 'Jewish American male actors', 'Jews from New York (state)', 'David di Donatello winners', 'American people of Romanian-Jewish descent', 'Military personnel from New York (state)', 'American Jews', 'Male actors from New York City', 'Male actors from Brooklyn', 'Film producers from New York (state)', 'American Ashkenazi Jews', 'Lee Strasberg Theatre and Film Institute alumni', 'Method actors', 'People from Brighton Beach', 'People from Fire Island, New York']
cat2lbl2data_input_text : [['Articles containing video clips', 'Military units and formations established in 1775', 'Marines', 'United States Marine Corps', '1775 establishments in the Thirteen Colonies', 'Uniformed services of the United States', 'United States Armed Forces service branches'], ['History', 'Genres', 'Non-fiction literature', 'Biography (genre)']]

data_input_text : Burton J. Westcott
lbl2data_input_text : ['Westcott House (Springfield, Ohio)', 'Westcott House']
cat2data_input_text : ['1926 deaths', '1868 births', 'Swarthmore College alumni', 'American businesspeople', 'People from Richmond, Indiana', 'Ohio Republicans', 'DePauw University alumni', 'Mayors of places in Ohio', 'Politicians from Springfield, Ohio']
cat2lbl2data_input_text : [['1908 establishments in Ohio', 'Houses on the National Register of Historic Places in Ohio', 'Frank Lloyd Wright buildings', 'Historic house museums in Ohio', 'Houses completed in 1908', 'National Register of Historic Places in Clark County, Ohio', 'Buildings and structures in Springfield, Ohio', 'Prairie School architecture in Ohio', 'Museums in Clark County, Ohio', 'Houses in Clark County, Ohio'], []]

data_input_text : Carl Gustav RehnskiÃ¶ld
lbl2data_input_text : ['List of Swedish field marshals']
cat2data_input_text : ['Swedish nobility', '1651 births', '1722 deaths', 'People from Swedish Pomerania', 'People from Stralsund', 'Prisoners of war held by Russia', 'Field marshals of Sweden', 'Battle of Poltava', 'Swedish military personnel of the Great Northern War', 'Caroleans', 'Swedish prisoners of war', '18th-century Swedish military personnel', 'People from Greifswald', "Swedish military personnel of the Nine Years' War"]
cat2lbl2data_input_text : [['Swedish military-related lists', 'Field marshals of Sweden', 'Lists of field marshals', 'Lists of Swedish military personnel']]

data_input_text : Armando Filiput
lbl2data_input_text : ['FIDAL Hall of Fame']
cat2data_input_text : ['Olympic athletes for Italy', 'Mediterranean Games medalists in athletics', 'Mediterranean Games gold medalists for Italy', 'Mediterranean Games bronze medalists for Italy', 'Italian Athletics Championships winners', '1923 births', 'Athletes (track and field) at the 1952 Summer Olympics', 'Athletes (track and field) at the 1951 Mediterranean Games', '20th-century Italian sportsmen', 'European Athletics Championships medalists', '1982 deaths', 'Italian male hurdlers', 'Sportspeople from the Province of Gorizia', 'Athletes (track and field) at the 1955 Mediterranean Games', 'Olympic athletes of Italy', 'Competitors at the 1955 Mediterranean Games', 'Competitors at the 1951 Mediterranean Games']
cat2lbl2data_input_text : [['Awards established in 2012', 'Sports halls of fame', 'Athletics in Italy', 'Sport in Italy', '2012 establishments in Italy', 'Sport of athletics awards', 'Lists of track and field athletes', 'Organizations established in 2012', 'Non-profit organisations based in Italy', 'Halls of fame in Italy', 'Athletics (track and field) awards']]

data_input_text : Saratoga County, New York
lbl2data_input_text : ['National Register of Historic Places listings in Saratoga County, New York', 'List of counties in New York']
cat2data_input_text : ['Capital District (New York)', 'Populated places established in 1791', 'New York (state) placenames of Native American origin', '1791 establishments in New York (state)', 'Saratoga County, New York']
cat2lbl2data_input_text : [['Lists of National Register of Historic Places in New York (state) by county', 'National Register of Historic Places in Saratoga County, New York'], ['Lists of populated places in New York (state)', 'Lists of counties of the United States by state', 'New York (state) counties']]

## `LF-Amazon-131K`

In [ ]:
data_dir = '/home/scai/phd/aiz218323/scratch/datasets/benchmarks/LF-Amazon-131K/'

indices = np.random.permutation(294805)[:10]
show_func = partial(show_dataset, data_dir, idxs=indices)

### `Videos`

In [ ]:
show_func(metadata_type='videos')

                             # Entries  # Features  Avg. Entries per feature  \
Split Dataset
Train Main                      294805      131073                      5.15
      Query Videos Metadata     294805       82840                      0.92
      Label Videos Metadata     131073       82840                      0.49
Test  Main                      134835      131073                      2.17
      Query Videos Metadata     134835       82840                      0.17
      Label Videos Metadata     131073       82840                      0.49

                             Avg. Feature per entry  Max. Entries per feature  \
Split Dataset
Train Main                                     2.29                      1553
      Query Videos Metadata                    0.26                        31
      Label Videos Metadata                    0.31                        14
Test  Main                                     2.11                       705
      Query Videos Metadata                    0.10                        14
      Label Videos Metadata                    0.31                        14

                             Max. Feature per entry  # Features without entry  \
Split Dataset
Train Main                                        7                         0
      Query Videos Metadata                      10                     12830
      Label Videos Metadata                      10                     44398
Test  Main                                        6                         0
      Query Videos Metadata                      10                     69786
      Label Videos Metadata                      10                     44398

                             # Entries without feature
Split Dataset
Train Main                                           0
      Query Videos Metadata                     275983
      Label Videos Metadata                     120451
Test  Main                                           0
      Query Videos Metadata                     130099
      Label Videos Metadata                     120451

data_input_text : Pegs in the Park
lbl2data_input_text : ['Sequence for Kids']
vid2data_input_text : []
vid2lbl2data_input_text : [['https://www.amazon.com/vdp/08f82b156c7449e9ab6262598ea69997?ref=dp_vse_rvc_0']]

data_input_text : Say Again, Please: Guide to Radio Communications (ASA Training Manuals)
lbl2data_input_text : ["Pilot's Pocket Handbook: Flight Calculations, Weather Decoder, Aviation Acronyms, Charts and Checklists, Pilot Memory Aids", 'Aviation Weather (FAA Handbooks)']
vid2data_input_text : []
vid2lbl2data_input_text : [[], []]

data_input_text : Confessions of a Serial Egg Donor
lbl2data_input_text : ['Third Wave Agenda: Being Feminist, Doing Feminism', 'The Baby Business: How Money, Science, and Politics Drive the Commerce of Conception']
vid2data_input_text : []
vid2lbl2data_input_text : [[], []]

data_input_text : My Utmost For His Highest
lbl2data_input_text : ['Complete Works of Oswald Chambers: (Includes CD-Rom) (OSWALD CHAMBERS LIBRARY)']
vid2data_input_text : []
vid2lbl2data_input_text : [[]]

data_input_text : Softspots Women's Tela Leather Sandal
lbl2data_input_text : ["Softspots Women's Trinidad Slip-On", "Trotters Women's Liz Loafer"]
vid2data_input_text : []
vid2lbl2data_input_text : [[], []]

data_input_text : Holy Cows And Hog Heaven: The Food Buyer's Guide To Farm Friendly Food
lbl2data_input_text : ['Pastured Poultry Profits', 'Salad Bar Beef', "You Can Farm: The Entrepreneur's Guide to Start & Succeed in a Farming Enterprise"]
vid2data_input_text : []
vid2lbl2data_input_text : [['https://www.amazon.com/vdp/0296865b4ebe46929518079c8bdf31d2?ref=dp_vse_rvc_0', 'https://www.amazon.com/vdp/0fedc50a7015400aa6b5d07c185e5afa?ref=dp_vse_rvc_1'], [], []]

data_input_text : Amazon.com: Poodle Skirt - Adult Medium / Large Sz - Purple: Clothing
lbl2data_input_text : ['Amazon.com: Black Elastic Cinch Belt - Medium: Clothing', 'Amazon.com: Adult Sz 9-11 Bobby Socks w Black Poodle: Clothing']
vid2data_input_text : []
vid2lbl2data_input_text : [[], []]

data_input_text : The Rudolph Valentino Collection : THE MARRIED VIRGIN (1918), THE SHEIK (1921), BLOOD AND SAND (1922), COBRA (1925), and THE EAGLE (1925) (2009)
lbl2data_input_text : ['The Sheik / The Son of the Sheik (Special Edition) (1921)', 'Intimate Biography: Rudolph Valentino - The Great Lover + The Four Horsemen of the Apocalypse (2006)', 'Beyond the Rocks (1922)', 'The Valentino Collection (The Young Rajah / Stolen Moments / A Society Sensation / Moran of the Lady Letty) (1920)']
vid2data_input_text : []
vid2lbl2data_input_text : [[], [], [], ['https://www.amazon.com/vdp/7614274ebd634f3dae9fedbf3a3e0729?ref=dp_vse_rvc_0', 'https://www.amazon.com/vdp/3bd1c579ceb64a8bbeed580c4c38fc2b?ref=dp_vse_rvc_1', 'https://www.amazon.com/vdp/133b4598495d44e7a680ba1b0af6577e?ref=dp_vse_rvc_2', 'https://www.amazon.com/vdp/3bf97015f5b54a81bd172bc9f26fe14a?ref=dp_vse_rvc_3', 'https://www.amazon.com/vdp/db705143afe544a788aa4a6217060faf?ref=dp_vse_rvc_4']]

data_input_text : Amazon.com: Fantasie Smoothing Full Cup Underwire Bra: Clothing
lbl2data_input_text : ['Amazon.com: Fantasie Smoothing Balcony Underwire Bra: Clothing', 'Amazon.com: Fantasie Smoothing Balcony T-Shirt Bra: Clothing']
vid2data_input_text : []
vid2lbl2data_input_text : [[], []]

data_input_text : Rachael Ray Furi FUR863 Furi Gusto-Grip Antimicrobial 2-piece set w/Bamboo case
lbl2data_input_text : ['Furi FUR626 Ozitech Diamond Fingers Pro Knife Sharpener', 'Furi Rachael Ray Ozitech Diamond Fingers Pro Knife Sharpener']
vid2data_input_text : []
vid2lbl2data_input_text : [['https://www.amazon.com/vdp/03971ae7fc8842528e014c7253814a0b?ref=dp_vse_rvc_0', 'https://www.amazon.com/vdp/d6dd92ca40b5434d8685b6b9f9ec8596?ref=dp_vse_rvc_1', 'https://www.amazon.com/vdp/99a2ca5757cb4f61a90e1771ba1413e8?ref=dp_vse_rvc_2', 'https://www.amazon.com/vdp/fb186671b7e04fccb89ffa22845f1fd4?ref=dp_vse_rvc_3', 'https://www.amazon.com/vdp/05d3d9ea292e43ea9cdbfbd7d4fd7dfd?ref=dp_vse_rvc_4', 'https://www.amazon.com/vdp/05f61f380dbc4c7e84f08de1f71979b7?ref=dp_vse_rvc_5', 'https://www.amazon.com/vdp/0cbde55a5ff94b04899a955152c1fc95?ref=dp_vse_rvc_6', 'https://www.amazon.com/vdp/0a606181737b428981c81362f9735a31?ref=dp_vse_rvc_7', 'https://www.amazon.com/vdp/0a942cf4cf224bddbfe345cbd71cfe17?ref=dp_vse_rvc_8', 'https://www.amazon.com/vdp/0459422771474aed97526ea90a1aaf08?ref=dp_vse_rvc_9'], ['https://www.amazon.com/vdp/03971ae7fc8842528e014c7253814a0b?ref=dp_vse_rvc_0', 'https://www.amazon.com/vdp/d6dd92ca40b5434d8685b6b9f9ec8596?ref=dp_vse_rvc_1', 'https://www.amazon.com/vdp/fb186671b7e04fccb89ffa22845f1fd4?ref=dp_vse_rvc_2', 'https://www.amazon.com/vdp/99a2ca5757cb4f61a90e1771ba1413e8?ref=dp_vse_rvc_3', 'https://www.amazon.com/vdp/08d2464b6cfd467b8d2857fab3c24815?ref=dp_vse_rvc_4', 'https://www.amazon.com/vdp/09be0697ead44dd8bc6e98b7a90c9608?ref=dp_vse_rvc_5', 'https://www.amazon.com/vdp/08e7695083cb4ca49ddb376b327ceb9f?ref=dp_vse_rvc_6', 'https://www.amazon.com/vdp/f27a05eb9c3d4ddc90dd4e9520d26254?ref=dp_vse_rvc_7', 'https://www.amazon.com/vdp/0a57c10d4c61463dbb21d2d2d615d982?ref=dp_vse_rvc_8', 'https://www.amazon.com/vdp/064772b87a8b4ae19dedf47143d7b248?ref=dp_vse_rvc_9']]

### `Images`

In [ ]:
show_func(metadata_type='images')

                             # Entries  # Features  Avg. Entries per feature  \
Split Dataset
Train Main                      294805      131073                      5.15
      Query Images Metadata     294805      361399                      0.86
      Label Images Metadata     131073      361399                      0.47
Test  Main                      134835      131073                      2.17
      Query Images Metadata     134835      361399                      0.14
      Label Images Metadata     131073      361399                      0.47

                             Avg. Feature per entry  Max. Entries per feature  \
Split Dataset
Train Main                                     2.29                      1553
      Query Images Metadata                    1.06                      2167
      Label Images Metadata                    1.29                      1249
Test  Main                                     2.11                       705
      Query Images Metadata                    0.38                       905
      Label Images Metadata                    1.29                      1249

                             Max. Feature per entry  # Features without entry  \
Split Dataset
Train Main                                        7                         0
      Query Images Metadata                      41                     66325
      Label Images Metadata                      41                    198489
Test  Main                                        6                         0
      Query Images Metadata                      22                    315741
      Label Images Metadata                      41                    198489

                             # Entries without feature
Split Dataset
Train Main                                           0
      Query Images Metadata                     110463
      Label Images Metadata                      29146
Test  Main                                           0
      Query Images Metadata                     105785
      Label Images Metadata                      29146

data_input_text : Pegs in the Park
lbl2data_input_text : ['Sequence for Kids']
img2data_input_text : ['https://m.media-amazon.com/images/I/5146HUGf2yL._AC_.jpg', 'https://m.media-amazon.com/images/I/51dGC7WtetL._AC_.jpg', 'https://m.media-amazon.com/images/I/61Zv3nxyLnL._AC_.jpg']
img2lbl2data_input_text : [['https://m.media-amazon.com/images/I/61RBvi+yYrL._AC_.jpg', 'https://m.media-amazon.com/images/I/51zB-vOOAFL._AC_.jpg', 'https://m.media-amazon.com/images/I/516HshqtysL._AC_.jpg', 'https://m.media-amazon.com/images/I/51ltmMeTwlL._AC_.jpg']]

data_input_text : Say Again, Please: Guide to Radio Communications (ASA Training Manuals)
lbl2data_input_text : ["Pilot's Pocket Handbook: Flight Calculations, Weather Decoder, Aviation Acronyms, Charts and Checklists, Pilot Memory Aids", 'Aviation Weather (FAA Handbooks)']
img2data_input_text : ['https://m.media-amazon.com/images/I/51jy6Z46AmL._SX404_BO1,204,203,200_.jpg']
img2lbl2data_input_text : [['https://m.media-amazon.com/images/I/51c-pQA2w5L._SY291_BO1,204,203,200_QL40_FMwebp_.jpg'], ['https://m.media-amazon.com/images/I/51AXaVyBB4L._SX374_BO1,204,203,200_.jpg']]

data_input_text : Confessions of a Serial Egg Donor
lbl2data_input_text : ['Third Wave Agenda: Being Feminist, Doing Feminism', 'The Baby Business: How Money, Science, and Politics Drive the Commerce of Conception']
img2data_input_text : ['https://m.media-amazon.com/images/I/41H0KQ27DEL._SY291_BO1,204,203,200_QL40_FMwebp_.jpg']
img2lbl2data_input_text : [['https://m.media-amazon.com/images/I/51YF637RF8L._SX309_BO1,204,203,200_.jpg'], ['https://m.media-amazon.com/images/I/51UtbK4gdRL._SX598_BO1,204,203,200_.jpg']]

data_input_text : My Utmost For His Highest
lbl2data_input_text : ['Complete Works of Oswald Chambers: (Includes CD-Rom) (OSWALD CHAMBERS LIBRARY)']
img2data_input_text : []
img2lbl2data_input_text : [['https://m.media-amazon.com/images/I/519aYm5928L._SY291_BO1,204,203,200_QL40_FMwebp_.jpg']]

data_input_text : Softspots Women's Tela Leather Sandal
lbl2data_input_text : ["Softspots Women's Trinidad Slip-On", "Trotters Women's Liz Loafer"]
img2data_input_text : []
img2lbl2data_input_text : [[], ['https://m.media-amazon.com/images/I/41fYIg7HXtL._AC_.jpg', 'https://m.media-amazon.com/images/I/51vqHNZDNFL._AC_.jpg', 'https://m.media-amazon.com/images/I/51yxI96C96L._AC_.jpg', 'https://m.media-amazon.com/images/I/31G8EAAyYxL._AC_.jpg', 'https://m.media-amazon.com/images/I/41r7WvzhYIL._AC_.jpg', 'https://m.media-amazon.com/images/I/41ER-O0i1QL._AC_.jpg', 'https://m.media-amazon.com/images/I/41PHLcl8wfL._AC_.jpg', 'https://m.media-amazon.com/images/I/41Xo1OdK7CL._AC_.jpg']]

data_input_text : Holy Cows And Hog Heaven: The Food Buyer's Guide To Farm Friendly Food
lbl2data_input_text : ['Pastured Poultry Profits', 'Salad Bar Beef', "You Can Farm: The Entrepreneur's Guide to Start & Succeed in a Farming Enterprise"]
img2data_input_text : ['https://m.media-amazon.com/images/I/51rd1E6FOTL._SY291_BO1,204,203,200_QL40_FMwebp_.jpg']
img2lbl2data_input_text : [['https://m.media-amazon.com/images/I/51CE1Y5-drL._SX338_BO1,204,203,200_.jpg'], ['https://m.media-amazon.com/images/I/51ueBfYXMeL._SX325_BO1,204,203,200_.jpg'], ['https://m.media-amazon.com/images/I/41yEwSh0Q4L._SY291_BO1,204,203,200_QL40_FMwebp_.jpg']]

data_input_text : Amazon.com: Poodle Skirt - Adult Medium / Large Sz - Purple: Clothing
lbl2data_input_text : ['Amazon.com: Black Elastic Cinch Belt - Medium: Clothing', 'Amazon.com: Adult Sz 9-11 Bobby Socks w Black Poodle: Clothing']
img2data_input_text : []
img2lbl2data_input_text : [[], []]

data_input_text : The Rudolph Valentino Collection : THE MARRIED VIRGIN (1918), THE SHEIK (1921), BLOOD AND SAND (1922), COBRA (1925), and THE EAGLE (1925) (2009)
lbl2data_input_text : ['The Sheik / The Son of the Sheik (Special Edition) (1921)', 'Intimate Biography: Rudolph Valentino - The Great Lover + The Four Horsemen of the Apocalypse (2006)', 'Beyond the Rocks (1922)', 'The Valentino Collection (The Young Rajah / Stolen Moments / A Society Sensation / Moran of the Lady Letty) (1920)']
img2data_input_text : ['https://m.media-amazon.com/images/I/51GGxUybeTL.jpg']
img2lbl2data_input_text : [['https://m.media-amazon.com/images/I/51P9S1PHJWL.jpg'], ['https://m.media-amazon.com/images/I/51Bgu+X4rNL.jpg'], ['https://m.media-amazon.com/images/I/51D+wuBZZgL.jpg'], ['https://m.media-amazon.com/images/I/41HTDUt4TIL.jpg']]

data_input_text : Amazon.com: Fantasie Smoothing Full Cup Underwire Bra: Clothing
lbl2data_input_text : ['Amazon.com: Fantasie Smoothing Balcony Underwire Bra: Clothing', 'Amazon.com: Fantasie Smoothing Balcony T-Shirt Bra: Clothing']
img2data_input_text : []
img2lbl2data_input_text : [['https://m.media-amazon.com/images/I/51E9n5YMDZL._AC_.jpg', 'https://m.media-amazon.com/images/I/218RY9YFVNL._AC_.jpg', 'https://m.media-amazon.com/images/I/212BVD8B0HL._AC_.jpg', 'https://m.media-amazon.com/images/I/317BVVE3T5L._AC_.jpg'], ['https://m.media-amazon.com/images/I/41Sdlde2R5L._AC_.jpg']]

data_input_text : Rachael Ray Furi FUR863 Furi Gusto-Grip Antimicrobial 2-piece set w/Bamboo case
lbl2data_input_text : ['Furi FUR626 Ozitech Diamond Fingers Pro Knife Sharpener', 'Furi Rachael Ray Ozitech Diamond Fingers Pro Knife Sharpener']
img2data_input_text : []
img2lbl2data_input_text : [['https://m.media-amazon.com/images/I/41t--GHJvpL._AC_.jpg', 'https://m.media-amazon.com/images/I/51m5sZs3jfL._AC_.jpg', 'https://m.media-amazon.com/images/I/51NSf8NVH2L._AC_.jpg', 'https://m.media-amazon.com/images/I/51WtUqFWZTL._AC_.jpg', 'https://m.media-amazon.com/images/I/412vLy4eTML._AC_.jpg', 'https://m.media-amazon.com/images/I/51r67G5HO3L._AC_.jpg', 'https://m.media-amazon.com/images/I/51J+CITeHEL._AC_.jpg', 'https://m.media-amazon.com/images/I/51d9AITGnEL._AC_.jpg', 'https://m.media-amazon.com/images/I/512oHp8eSFL._AC_.jpg'], ['https://m.media-amazon.com/images/I/41t--GHJvpL._AC_.jpg', 'https://m.media-amazon.com/images/I/51m5sZs3jfL._AC_.jpg', 'https://m.media-amazon.com/images/I/51NSf8NVH2L._AC_.jpg', 'https://m.media-amazon.com/images/I/51WtUqFWZTL._AC_.jpg', 'https://m.media-amazon.com/images/I/412vLy4eTML._AC_.jpg', 'https://m.media-amazon.com/images/I/51r67G5HO3L._AC_.jpg', 'https://m.media-amazon.com/images/I/51J+CITeHEL._AC_.jpg', 'https://m.media-amazon.com/images/I/51d9AITGnEL._AC_.jpg', 'https://m.media-amazon.com/images/I/512oHp8eSFL._AC_.jpg']]