In [ ]:
%reload_ext autoreload
%autoreload 2

In [ ]:
import numpy as np
from functools import partial

import xclib.data.data_utils as du, scipy.sparse as sp

from sugar.statistics import *
from sugar.core import *
from xcai.data import *

## `MSMARCO`

In [ ]:
data_dir = '/home/scai/phd/aiz218323/scratch/datasets/msmarco/XC'

indices = np.random.permutation(6980)[:10]
show_func = partial(show_dataset, data_dir, idxs=indices)

### `entity-gpt`

In [ ]:
o = show_func(metadata_type='entity_gpt', use_trn=False)

                             # Entries  # Features  Avg. Entries per feature  \
Split Dataset
Train Main                      502939     8841823                  6.03e-02
      Query Entity Metadata     502939      207109                  3.81e+00
      Label Entity Metadata    8841823      207109                  0.00e+00
Test  Main                        6980     8841823                  8.41e-04
      Query Entity Metadata       6980      207109                  2.57e-02
      Label Entity Metadata    8841823      207109                  0.00e+00

                             Avg. Feature per entry  Max. Entries per feature  \
Split Dataset
Train Main                                     1.06                        17
      Query Entity Metadata                    1.57                      6469
      Label Entity Metadata                    0.00                         0
Test  Main                                     1.07                         2
      Query Entity Metadata                    0.76                        71
      Label Entity Metadata                    0.00                         0

                             Max. Feature per entry  # Features without entry  \
Split Dataset
Train Main                                        7                   8325351
      Query Entity Metadata                      27                         0
      Label Entity Metadata                       0                    207109
Test  Main                                        4                   8834390
      Query Entity Metadata                      11                    203538
      Label Entity Metadata                       0                    207109

                             # Entries without feature
Split Dataset
Train Main                                           0
      Query Entity Metadata                      28386
      Label Entity Metadata                    8841823
Test  Main                                           0
      Query Entity Metadata                       3821
      Label Entity Metadata                    8841823

data_input_text : what does a Project manager do
lbl2data_input_text : ['A project manager is a professional in the field of project management. Project managers can have the responsibility of the planning, execution and closing of any project, typically relating to construction industry, architecture, aerospace and defense, computer networking, telecommunications or software development.roject managers can have the responsibility of the planning, execution and closing of any project, typically relating to construction industry, architecture, aerospace and defense, computer networking, telecommunications or software development.']
ent2data_input_text : ['project manager']
ent2lbl2data_input_text : [[]]

data_input_text : was michael jordan a cub scout
lbl2data_input_text : ['celebrities 38 Famous People Who Were Boy Scouts. 1  Steven Spielberg - Eagle Scout. 2  Michael Jordan - Cub Scout. 3  Neil Armstrong - Eagle Scout.  Jimmy Buffett - Life 1  Scout. Martin Luther King, Jr. - Boy Scout.  George Strait - Cub 1  Scout. John F. Kennedy - Boy 2  Scout. Hank  Aaron.']
ent2data_input_text : []
ent2lbl2data_input_text : [[]]

data_input_text : what is crossfit?
lbl2data_input_text : ['About CrossFit. What is CrossFit? CrossFit is a fitness and conditioning system developed by Coach Greg Glassman through many years of watching, working with, and coaching all types of people â\x80\x93 from those considered â\x80\x9cnormal and averageâ\x80\x9d, to top athletes.']
ent2data_input_text : []
ent2lbl2data_input_text : [[]]

data_input_text : person who feels what others are feeling
lbl2data_input_text : ["Explanations > Emotions > Empathy. Feeling what others feel | It's not sympathy | It's definitely not psychopathy | It has many benefits | So what. Empathy is the ability to not only detect what others feel but also to experience that emotion yourself."]
ent2data_input_text : ['person']
ent2lbl2data_input_text : [[]]

data_input_text : what is the legal definition of deposit
lbl2data_input_text : ['Definition of deposit. 1  1 : the state of being deposited. 2  2 : something placed for safekeeping: such asa : money deposited in a bank making a deposit or a withdrawal a deposit of $3,000b : money given as a pledge or down payment put down a deposit on a new house. 3  3 : a place of deposit : depository.']
ent2data_input_text : []
ent2lbl2data_input_text : [[]]

data_input_text : what empires did alexander conquer
lbl2data_input_text : ["When Alexander destroyed Tyre, most of the towns on the route to Egypt quickly capitulated. A later tradition recorded his entry into Jerusalem: according to Josephus, Alexander was shown the Book of Daniel 's prophecy, presumably chapter 8, which described a mighty Greek king who would conquer the Persian Empire.", 'The wars of Alexander the Great were fought by King Alexander III of Macedon (The Great), first against the Achaemenid Persian Empire under Darius III, and then against local chieftains and warlords as far east as Punjab, India.']
ent2data_input_text : ['alexander', 'alexander']
ent2lbl2data_input_text : [[], []]

data_input_text : what was the significance of the encomienda system
lbl2data_input_text : ['Encomienda system established. The encomienda system was created by the Spanish to control and regulate American Indian labor and behavior during the colonization of the Americas. Under the encomienda system, conquistadors and other leaders (encomenderos) received grants of a number of Indians, from whom they could exact â\x80\x9ctributeâ\x80\x9d in the form of gold or labor.']
ent2data_input_text : ['encomienda system']
ent2lbl2data_input_text : [[]]

data_input_text : stellar lumens price forecast
lbl2data_input_text : ['Our InvestingHaven Stellar Lumens Price Forecast of 4 USD in 2018 is the newest addition to what has been so far our successful series of Cryptocurrency forecasts. We have previously provided forecasts for Ethereum, Bitcoin, Litecoin, Dash, Ripple.']
ent2data_input_text : []
ent2lbl2data_input_text : [[]]

data_input_text : what are caged ibc tanks used for
lbl2data_input_text : ['IBC Totes are large tanks. They are typically used to store and transport fluids or other bulk materials. Some of these totes are â\x80\x9cfood gradeâ\x80\x9d or have carried food products while others may have contained chemicals. They have a galvanized steel rod exterior built to protect the inside plastic â\x80\x9cbladderâ\x80\x9d. Both the size and rigidity of the structure of these caged tanks make them ideal for â\x80\x9crepurposingâ\x80\x9d.']
ent2data_input_text : []
ent2lbl2data_input_text : [[]]

data_input_text : how many americans are victims of workplace violence each year?
lbl2data_input_text : ['What is workplace violence? Workplace violence is violence or the threat of violence against workers. It can occur at or outside the workplace and can range from threats and verbal abuse to physical assaults and homicide, one of the leading causes of job-related deaths. However it manifests itself, workplace violence is a growing concern for employers and employees nationwide. Who is vulnerable? Some 2 million American workers are victims of workplace violence each year. Workplace violence can strike anywhere, and no one is immune. Some workers, however, are at increased risk. Among them are workers who exchange money with the public; deliver']
ent2data_input_text : []
ent2lbl2data_input_text : [[]]

### `entity-llama`

In [ ]:
o = show_func(metadata_type='entity_llama', use_trn=False)

### Comparision

In [ ]:
gpt_trn_dset, gpt_tst_dset = show_func(metadata_type='entity_llama', use_trn=False, lbl_suffix='exact')
lma_trn_dset, lma_tst_dset = show_func(metadata_type='entity_llama', use_trn=False, lbl_suffix='exact')